h2 {
  font-family: TTCoralsThin;
  margin-left: 50px;
  margin-right: 25px;
  font-size: 250%;
  margin-bottom: 0px;
  letter-spacing: 5px;
  color: #4E4E4E;
}

h1 {
  color: #F83345;
  text-align: center;
  font-family: lemonTuesday;
  font-size: 600%;
  margin-bottom: 40px;
  margin-top: 50px;
}

p {
  line-height: 175%;
}

.about-me {
  font-family: 'Raleway', sans-serif;
  font-size: 110%;
  margin-left: 50px;
  margin-right: 50px;
  float: left;
}

.center {
  text-align: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
}

@font-face {
    font-family: shellahera;
    src: url(ShellaheraScriptDemo.otf);
}

@font-face {
    font-family: lemonTuesday;
    src: url(LemonTuesday.otf);
}

@font-face {
    font-family: TTCoralsThin;
    src: url(TTCoralsThin.otf);
}
